<p id="notice"><%= notice %></p>
<%= image_tag @art.image.url(:thumb) %>
<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
